<h3>Your Product:</h3>
<h5>[From the page: show.html.erb]</h5>
<p><%= @product.name %></p>
<p><%= @product.description %></p>

<p>To Edit: <a href="/products/<%= @product.id %>/edit">What the user will see</a></p>